@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGC-IiwWNzQT_LXAtr-Ee9Pw.woff) format('woff');
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(http://themes.googleusercontent.com/static/fonts/droidserif/v3/0AKsP294HTD-nvJgucYTaLrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(http://themes.googleusercontent.com/static/fonts/droidserif/v3/QQt14e8dY39u-eYBZmppwRbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}

@page  {
  margin: 0.6cm;
  border: 0;
}

html {
  border: 0;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
}

.tipsy.tipsy-n {
  display: none !important;
}

#resume-formal {
  position: absolute;
  height: auto;
  padding: 0;
  margin: -100px 0 0 0;
  border: 0;
  -webkit-transform: none;
          transform: none;
  -webkit-transform-style: none;
          transform-style: none;
}

#resume-formal .resume-header {
  display: none;
  height: 0;
}

#resume-formal p.print {
  display: block;
  height: 100px;
}

#resume-formal p.print img {
  float: left;
}

#resume-formal .skill-tooltip {
  display: none;
}

#resume-formal .page {
  margin: 0 auto;
}

#resume-formal .page a {
  font-weight: bold;
}

#resume-formal .page h3.page-header {
  margin-top: 15px;
}

#resume-formal .page h2 a:after,
#resume-formal .page h2 a:visited:after {
  content: "";
}